.title-card
{
    width: 80vw;
    height: 50vh;
    margin: 10%;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
  .token-btn{
    height: 35px;
    width: 70px;
    background-color: brown;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }